<a href="https://colab.research.google.com/github/PalmerTurley34/DS-Unit-2-Linear-Models/blob/master/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

## Data Exploration

In [350]:
print(df.shape)
df.head()

(421, 59)

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [351]:
# look for nan values
df.isnull().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [352]:
# look at numeric columns
df.describe()

            Yelp     Google        Cost  ...     Synergy        Wrap  Queso
count  87.000000  87.000000  414.000000  ...  419.000000  418.000000    0.0
mean    3.887356   4.167816    7.067343  ...    3.586993    3.979904    NaN
std     0.475396   0.373698    1.506742  ...    0.886807    1.118185    NaN
min     2.500000   2.900000    2.990000  ...    1.000000    0.000000    NaN
25%     3.500000   4.000000    6.250000  ...    3.000000    3.500000    NaN
50%     4.000000   4.200000    6.990000  ...    3.800000    4.000000    NaN
75%     4.000000   4.400000    7.880000  ...    4.000000    5.000000    NaN
max     4.500000   5.000000   25.000000  ...    5.000000    5.000000    NaN

[8 rows x 19 columns]

In [353]:
# look at categorical columns
cat_cols = df.describe(exclude='number').columns.values[2:-1]
df.describe(exclude='number')

           Burrito       Date Chips Unreliable  ... Avocado Corn Zucchini  Great
count          421        421    26         33  ...      13    3        1    421
unique           5        169     4          1  ...       1    2        1      2
top     California  8/30/2016     x          x  ...       x    x        x  False
freq           169         29    21         33  ...      13    2        1    239

[4 rows x 40 columns]

In [354]:
# look at the values in categorical columns
df['Chips'].value_counts()

x      21
X       3
No      1
Yes     1
Name: Chips, dtype: int64

In [0]:
# make the X and x the same
df = df.replace('X', 'x')

In [0]:
# make the categorical columns binary
import numpy as np
df[cat_cols] = df[cat_cols].replace({'x':1, np.nan:0, 'Yes':1, 'No':0})

In [357]:
df.head()

      Burrito       Date  Yelp  Google  ...  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2  ...        0     0         0  False
1  California  1/24/2016   3.5     3.3  ...        0     0         0  False
2    Carnitas  1/24/2016   NaN     NaN  ...        0     0         0  False
3       Asada  1/24/2016   NaN     NaN  ...        0     0         0  False
4  California  1/27/2016   4.0     3.8  ...        0     0         0   True

[5 rows x 59 columns]

In [0]:
df = df.drop(['Queso', 'Mass (g)', 'Density (g/mL)'], axis=1)

## Train/Validate/Test Split

In [359]:
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)
year_2016 = [value.year == 2016 for value in df['Date']]
year_2017 = [value.year == 2017 for value in df['Date']]
year_2018 = [value.year == 2018 for value in df['Date']]
train = df[year_2016]
val = df[year_2017]
test = df[year_2018]

train.shape, val.shape, test.shape

((296, 56), (85, 56), (27, 56))

## Prepare Data For Model

In [0]:
# split into X and y
target = 'Great'
features = train.columns.drop([target, 'Date'])
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]
y_test = test[target]

In [0]:
# one hot encoding
import category_encoders as ce
encoder = ce.one_hot.OneHotEncoder(use_cat_names=True)
X_train_enc = encoder.fit_transform(X_train)
X_val_enc = encoder.transform(X_val)
X_test_enc = encoder.transform(X_test)

In [0]:
# impute nans
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_train_imp = imputer.fit_transform(X_train_enc)
X_val_imp = imputer.transform(X_val_enc)
X_test_imp = imputer.transform(X_test_enc)

In [0]:
# turn back into dataframes
X_train_imp = pd.DataFrame(X_train_imp, columns=X_train_enc.columns)
X_val_imp = pd.DataFrame(X_val_imp, columns=X_val_enc.columns)
X_test_imp = pd.DataFrame(X_test_imp, columns=X_test_enc.columns)

In [0]:
# scale data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scl = scaler.fit_transform(X_train_imp)
X_val_scl = scaler.transform(X_val_imp)
X_test_scl = scaler.transform(X_test_imp)

In [0]:
# turn back into dataframes
X_train_scl = pd.DataFrame(X_train_scl, columns=X_train_enc.columns)
X_val_scl = pd.DataFrame(X_val_scl, columns=X_val_enc.columns)
X_test_scl = pd.DataFrame(X_test_scl, columns=X_test_enc.columns)

## Baseline

In [366]:
y_train.value_counts()

False    175
True     121
Name: Great, dtype: int64

In [0]:
majority_class = y_train.mode()[0]
y_pred_train = [majority_class]*len(y_train)

In [368]:
# baseline is about 59% accurate for training
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred_train)

0.5912162162162162

In [369]:
# 55% accurate for validation
majority_class = y_val.mode()[0]
y_pred_val = [majority_class]*len(y_val)
accuracy_score(y_val, y_pred_val)

0.5529411764705883

## Logistic Regression

In [370]:
# Import, instantiate, and fit the model
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(X_train_scl, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [371]:
# this model is 76% accurate
y_val_pred = log_reg.predict(X_val_scl)
print(log_reg.score(X_val_scl, y_val))
accuracy_score(y_val_pred, y_val)

0.7647058823529411

0.7647058823529411

In [383]:
# how many features is best to use?
# four features gives the best accuracy
from sklearn.feature_selection import SelectKBest, f_regression
for k in range(1, len(X_train_scl.columns)+1):
  selector = SelectKBest(score_func=f_regression, k=k)
  X_train_kbest = selector.fit_transform(X_train_scl, y_train)
  X_val_kbest = selector.transform(X_val_scl)
  log_reg.fit(X_train_kbest, y_train)
  score = log_reg.score(X_val_kbest, y_val)
  print(f'number of features: {k}, accuracy: {score}')

number of features: 1, accuracy: 0.8117647058823529
number of features: 2, accuracy: 0.8470588235294118
number of features: 3, accuracy: 0.8705882352941177
number of features: 4, accuracy: 0.9176470588235294
number of features: 5, accuracy: 0.8705882352941177
number of features: 6, accuracy: 0.8941176470588236
number of features: 7, accuracy: 0.8823529411764706
number of features: 8, accuracy: 0.8470588235294118
number of features: 9, accuracy: 0.8705882352941177
number of features: 10, accuracy: 0.8470588235294118
number of features: 11, accuracy: 0.8470588235294118
number of features: 12, accuracy: 0.8588235294117647
number of features: 13, accuracy: 0.8352941176470589
number of features: 14, accuracy: 0.8470588235294118
number of features: 15, accuracy: 0.8352941176470589
number of features: 16, accuracy: 0.8352941176470589
number of features: 17, accuracy: 0.8235294117647058
number of features: 18, accuracy: 0.8235294117647058
number of features: 19, accuracy: 0.8352941176470589
number of features: 20, accuracy: 0.8352941176470589
number of features: 21, accuracy: 0.8352941176470589
number of features: 22, accuracy: 0.8352941176470589
number of features: 23, accuracy: 0.8352941176470589
number of features: 24, accuracy: 0.8235294117647058
number of features: 25, accuracy: 0.8235294117647058
number of features: 26, accuracy: 0.7647058823529411
number of features: 27, accuracy: 0.7647058823529411
number of features: 28, accuracy: 0.7647058823529411
number of features: 29, accuracy: 0.7647058823529411
number of features: 30, accuracy: 0.7647058823529411
number of features: 31, accuracy: 0.7764705882352941
number of features: 32, accuracy: 0.7764705882352941
number of features: 33, accuracy: 0.7764705882352941
number of features: 34, accuracy: 0.7764705882352941
number of features: 35, accuracy: 0.7529411764705882
number of features: 36, accuracy: 0.7529411764705882
number of features: 37, accuracy: 0.7529411764705882
number of features: 38, accuracy: 0.788235294117647
number of features: 39, accuracy: 0.788235294117647
number of features: 40, accuracy: 0.7764705882352941
number of features: 41, accuracy: 0.7529411764705882
number of features: 42, accuracy: 0.7529411764705882
number of features: 43, accuracy: 0.7529411764705882
number of features: 44, accuracy: 0.7411764705882353
number of features: 45, accuracy: 0.7411764705882353
number of features: 46, accuracy: 0.7411764705882353
number of features: 47, accuracy: 0.7411764705882353
number of features: 48, accuracy: 0.7411764705882353
number of features: 49, accuracy: 0.7411764705882353
number of features: 50, accuracy: 0.7529411764705882
number of features: 51, accuracy: 0.7529411764705882
number of features: 52, accuracy: 0.7647058823529411
number of features: 53, accuracy: 0.7647058823529411
number of features: 54, accuracy: 0.7647058823529411
number of features: 55, accuracy: 0.7647058823529411
number of features: 56, accuracy: 0.7647058823529411
number of features: 57, accuracy: 0.7647058823529411
number of features: 58, accuracy: 0.7647058823529411

In [0]:
selector = SelectKBest(score_func=f_regression, k=4)
X_train_kbest = selector.fit_transform(X_train_scl, y_train)
X_val_kbest = selector.transform(X_val_scl)
X_test_kbest = selector.transform(X_test_scl)

In [385]:
# which columns give us the best score?
mask = selector.get_support()
X_train_scl.columns[mask]

Index(['Meat', 'Fillings', 'Meat:filling', 'Synergy'], dtype='object')

In [386]:
log_reg.fit(X_train_kbest, y_train)
log_reg.score(X_val_kbest, y_val)

0.9176470588235294

# Test the test set

In [387]:
# test is 70% accurate
y_pred = log_reg.predict(X_test_kbest)
accuracy_score(y_pred, y_test)

0.7037037037037037