<a href="https://colab.research.google.com/github/mattdmeans/DS-Unit-2-Linear-Models/blob/master/LS_DS17_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [4]:
df['interest_level'].unique()

array(['medium', 'low', 'high'], dtype=object)

In [5]:
df['interest_level'] = df['interest_level'].replace({'low' : 0,
                              'medium' : 1,
                              'high' : 2})

In [6]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [7]:
# pets_mask = df.loc[(df['cats_allowed'] == 1) & (df['dogs_allowed'] == 1)]

In [8]:
df['pets_allowed'] = df['cats_allowed'] + df['dogs_allowed']

In [9]:
df['pets_allowed'] = df['pets_allowed'].replace({0 : 0,
                            1 : 0,
                            2 : 1})

In [10]:
df['bed/bath'] = df['bedrooms'] / df['bathrooms']

In [11]:
df = df.fillna(0)

In [12]:
df.head()

   bathrooms  bedrooms  ... pets_allowed bed/bath
0        1.5         3  ...            0      2.0
1        1.0         2  ...            1      2.0
2        1.0         1  ...            0      1.0
3        1.0         1  ...            0      1.0
4        1.0         4  ...            0      4.0

[5 rows x 36 columns]

In [13]:
# Datetime format then seperating the year and then April and May

df['month'] = pd.to_datetime(df['created'], infer_datetime_format= True).dt.month

In [14]:
df.head(2)

   bathrooms  bedrooms              created  ... pets_allowed bed/bath  month
0        1.5         3  2016-06-24 07:54:24  ...            0      2.0      6
1        1.0         2  2016-06-12 12:19:27  ...            1      2.0      6

[2 rows x 37 columns]

In [15]:
df['bed/bath'].value_counts()

1.000000    19014
2.000000    12240
0.000000     9317
3.000000     3603
1.500000     2772
4.000000      366
1.333333      343
0.500000      206
0.666667      188
inf           153
2.500000      129
1.200000      128
0.800000       83
2.666667       61
1.600000       38
1.666667       35
1.250000       31
1.142857       27
0.857143       24
0.333333       14
0.750000       12
5.000000       10
0.888889        7
3.333333        5
1.428571        3
0.400000        2
2.400000        1
0.222222        1
6.000000        1
0.200000        1
2.333333        1
0.571429        1
Name: bed/bath, dtype: int64

In [16]:
df = df.replace([np.inf, -np.inf], 0)

In [17]:
df.dtypes

bathrooms               float64
bedrooms                  int64
created                  object
description              object
display_address          object
latitude                float64
longitude               float64
price                     int64
street_address           object
interest_level            int64
elevator                  int64
cats_allowed              int64
hardwood_floors           int64
dogs_allowed              int64
doorman                   int64
dishwasher                int64
no_fee                    int64
laundry_in_building       int64
fitness_center            int64
pre-war                   int64
laundry_in_unit           int64
roof_deck                 int64
outdoor_space             int64
dining_room               int64
high_speed_internet       int64
balcony                   int64
swimming_pool             int64
new_construction          int64
terrace                   int64
exclusive                 int64
loft                      int64
garden_patio              int64
wheelchair_access         int64
common_outdoor_space      int64
pets_allowed              int64
bed/bath                float64
month                     int64
dtype: object

In [18]:
train = df[(df['month'] == 4) | (df['month'] == 5)]
test = df[df['month'] == 6]

In [29]:
from sklearn.linear_model import LinearRegression
import sklearn.metrics as metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
import math

In [20]:
features = ['pets_allowed', 'bathrooms', 'bedrooms', 'balcony', 'bed/bath']

In [21]:
y = df['price']
X = features

In [22]:
lr = LinearRegression()

In [23]:
X_train = train[features]
X_test = test[features]

y_train = train['price']
y_test = test['price']

In [24]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
print('coefficients:', lr.coef_)
print('intercept', lr.intercept_)

coefficients: [ 173.72254959 1857.70776482  557.69989244  248.00960596 -188.77032021]
intercept 631.1355401208361

In [31]:
y_predict_train = lr.predict(X_train)
y_predict_test = lr.predict(X_test)

In [32]:
# MAE 

print('train mae:', metrics.mean_absolute_error(y_train, y_predict_train))
print('test mae:', metrics.mean_absolute_error(y_test, y_predict_test))

train mae: 814.369634494173
test mae: 819.6886393314418

In [33]:
# RMSE

print('train rmse', math.sqrt(metrics.mean_squared_error(y_train, y_predict_train)))
print('test rmse', math.sqrt(metrics.mean_squared_error(y_test, y_predict_test)))

train rmse 1226.5897500020965
test rmse 1213.1446821727843