<a href="https://colab.research.google.com/github/edwinapalmer/DS-Unit-2-Linear-Models/blob/master/Regression2_EdwinaPalmer_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [218]:
# To do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test

df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [219]:
df.dtypes

bathrooms               float64
bedrooms                  int64
created                  object
description              object
display_address          object
latitude                float64
longitude               float64
price                     int64
street_address           object
interest_level           object
elevator                  int64
cats_allowed              int64
hardwood_floors           int64
dogs_allowed              int64
doorman                   int64
dishwasher                int64
no_fee                    int64
laundry_in_building       int64
fitness_center            int64
pre-war                   int64
laundry_in_unit           int64
roof_deck                 int64
outdoor_space             int64
dining_room               int64
high_speed_internet       int64
balcony                   int64
swimming_pool             int64
new_construction          int64
terrace                   int64
exclusive                 int64
loft                      int64
garden_patio              int64
wheelchair_access         int64
common_outdoor_space      int64
dtype: object

In [220]:
#Convert df.created from string to datetime object

df['created'] = pd.to_datetime(df['created'])
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [221]:
type(df.created[0])

pandas._libs.tslibs.timestamps.Timestamp

In [0]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split

In [0]:
# To do train/test split

# Train on April and May 2016.
# Test on June 2016.

train = df[df['created'].dt.month<6]
test = df[df['created'].dt.month>=6]

In [224]:
train.sample(5)

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
7931         1.0         0  ...                 0                    0
7202         1.0         3  ...                 0                    0
8238         1.0         2  ...                 0                    0
35456        1.0         0  ...                 0                    0
24745        1.0         0  ...                 0                    0

[5 rows x 34 columns]

In [225]:
test.sample(5)

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
19281        2.0         3  ...                 0                    0
14333        2.0         2  ...                 0                    0
12748        1.0         3  ...                 0                    0
15244        1.0         3  ...                 0                    0
20726        1.0         0  ...                 0                    0

[5 rows x 34 columns]

In [226]:
# shape of train and test

train.shape, test.shape

((31844, 34), (16973, 34))

In [227]:
#  Fit a linear regression model with at least two features

# Re-arrange X features matrices

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

features = ['bedrooms', 'bathrooms', 'hardwood_floors', 'dogs_allowed']
print(f'Linear Regression, dependent on: {features}')

X_train = train[features]
X_test = test[features]

Linear Regression, dependent on: ['bedrooms', 'bathrooms', 'hardwood_floors', 'dogs_allowed']

In [0]:
# Isolate our target (price) features

target = 'price'
y_train = train[target]
y_test = test[target]

In [0]:
# Instantiate this class
model = LinearRegression()

In [230]:
# To Fit the model

model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
# To apply the model to new data

y_pred = model.predict(X_train)

In [238]:
mae = mean_absolute_error(y_train, y_pred)
print(f'Train Error: {mae:.2f} percentage points')

Train Error: 814.29 percentage points

In [239]:
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Train Error: {mae:.2f} percentage points')
print ('Training error', mae)

Train Error: 821.93 percentage points
Training error 821.9336886718277

In [240]:
# To get the model's coefficients and intercept.

model.intercept_, model.coef_

(354.48149983714075,
 array([ 387.81612509, 2055.31541188,  138.30421918,  197.03399099]))

In [241]:
# To get regression metrics RMSE, MAE, and  R2 , for both the train and test data.

from sklearn.metrics import r2_score, mean_squared_error

mse = mean_squared_error(test[target], y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(test[target], y_pred)
print(mse)
print(rmse)
print(mae)
print(r2)

1478571.4984943187
1215.9652538186767
821.9336886718277
0.5242724000032618