<a href="https://colab.research.google.com/github/LuisFelipeUrena/DS-Unit-2-Linear-Models/blob/master/Assignments/DS13_TL_BTR_LUIS_URENA_UNIT2_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [82]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
df['cats_and_dogs'] = df['dogs_allowed'] & df['cats_allowed'] == 1

In [84]:
df.head()

   bathrooms  bedrooms  ... common_outdoor_space cats_and_dogs
0        1.5         3  ...                    0         False
1        1.0         2  ...                    0          True
2        1.0         1  ...                    0         False
3        1.0         1  ...                    0         False
4        1.0         4  ...                    0         False

[5 rows x 35 columns]

In [0]:
#wth this line of code we can see a new feature that says when are
#cats and dogs allowed
df['cats_and_dogs'] = df['cats_and_dogs'].astype(int)

In [86]:
#i tried to filter by date but it seems the column is an object
# not a timestamo so i'll fix that
df.dtypes

bathrooms               float64
bedrooms                  int64
created                  object
description              object
display_address          object
latitude                float64
longitude               float64
price                     int64
street_address           object
interest_level           object
elevator                  int64
cats_allowed              int64
hardwood_floors           int64
dogs_allowed              int64
doorman                   int64
dishwasher                int64
no_fee                    int64
laundry_in_building       int64
fitness_center            int64
pre-war                   int64
laundry_in_unit           int64
roof_deck                 int64
outdoor_space             int64
dining_room               int64
high_speed_internet       int64
balcony                   int64
swimming_pool             int64
new_construction          int64
terrace                   int64
exclusive                 int64
loft                      int64
garden_patio              int64
wheelchair_access         int64
common_outdoor_space      int64
cats_and_dogs             int64
dtype: object

In [0]:
df['created'] = pd.to_datetime(df['created'])

In [88]:
df.dtypes
df.head()

   bathrooms  bedrooms  ... common_outdoor_space cats_and_dogs
0        1.5         3  ...                    0             0
1        1.0         2  ...                    0             1
2        1.0         1  ...                    0             0
3        1.0         1  ...                    0             0
4        1.0         4  ...                    0             0

[5 rows x 35 columns]

In [0]:
df['no_pets_allowed'] = df['dogs_allowed'] & df['cats_allowed'] == 0

In [0]:
df['no_pets_allowed'] = df['no_pets_allowed'].astype(int)

In [91]:
df.head()

   bathrooms  bedrooms  ... cats_and_dogs no_pets_allowed
0        1.5         3  ...             0               1
1        1.0         2  ...             1               0
2        1.0         1  ...             0               1
3        1.0         1  ...             0               1
4        1.0         4  ...             0               1

[5 rows x 36 columns]

In [92]:
#now we made some features! pets allowed or not and wheter they accept both 
#dogs and cats 
df['cats_and_dogs'].describe()

count    48817.000000
mean         0.446894
std          0.497177
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: cats_and_dogs, dtype: float64

In [0]:
# now lets subset our data into test and train
train = df[df['created'].dt.month == 4 & 5]
test = df[df['created'].dt.month == 6]

In [94]:
train

       bathrooms  bedrooms  ... cats_and_dogs no_pets_allowed
2            1.0         1  ...             0               1
3            1.0         1  ...             0               1
4            1.0         4  ...             0               1
5            2.0         4  ...             0               1
6            1.0         2  ...             1               0
...          ...       ...  ...           ...             ...
49346        1.0         1  ...             0               1
49348        1.0         1  ...             1               0
49349        1.0         1  ...             1               0
49350        1.0         0  ...             1               0
49351        1.0         2  ...             0               1

[16217 rows x 36 columns]

In [95]:
test

       bathrooms  bedrooms  ... cats_and_dogs no_pets_allowed
0            1.5         3  ...             0               1
1            1.0         2  ...             1               0
11           1.0         1  ...             0               1
14           1.0         1  ...             0               1
24           2.0         4  ...             1               0
...          ...       ...  ...           ...             ...
49305        1.0         2  ...             0               1
49310        1.0         3  ...             0               1
49320        1.0         1  ...             1               0
49332        1.0         2  ...             1               0
49347        1.0         2  ...             0               1

[16973 rows x 36 columns]

In [0]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [0]:
#arraging the targets and features
target = 'price'
features = ['no_pets_allowed','cats_and_dogs']
# variables for train and testing
x_train = train[features]
x_test = test[features]
y_train = train[target]
y_test = test[target]

In [98]:
#fitting the model 
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [100]:
#measuring the error
from sklearn.metrics import mean_absolute_error

y_pred = model.predict(x_train)
mae = mean_absolute_error(y_train,y_pred)
print(f'Train error {mae:2f} percentage points')

Train error 1171.902001 percentage points

In [101]:
# testing the mae on new data

y_pred = model.predict(x_test)
mae = mean_absolute_error(y_test,y_pred)
print(f'Train error {mae:2f} percentage points')

Train error 1186.251061 percentage points

In [102]:
#getting the coefficient and intercept
print('Intercept:',model.intercept_)
print('Coefficient:',model.coef_)

Intercept: 1936031422053573.5
Coefficient: [-1.93603142e+15 -1.93603142e+15]

In [0]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [0]:
# getting the squared error metrics for the values of test and train
def squared_errors(df,target,features):
    x = df[features]
    y = df[target]
    y_predict = model.predict(x)

    mae = mean_absolute_error(y,y_predict)
    mse = mean_squared_error(y,y_predict)
    rmse = np.sqrt(mse)
    r2_s = r2_score(y,y_predict)

    print('Mean Absolute Error:',mae)
    print('Mean Square Error:',mse)
    print('Root Mean Square Error',rmse)
    print('r2 Score:',r2_s)

In [110]:
#squred errors for the test data
squared_errors(test,target,features)

Mean Absolute Error: 1186.2510605078655
Mean Square Error: 3098606.3033383903
Root Mean Square Error 1760.2858584157264
r2 Score: 0.0030292471327511006

In [111]:
#squared errors for the train data
squared_errors(train,target,features)

Mean Absolute Error: 1171.902000986619
Mean Square Error: 2972946.8002982982
Root Mean Square Error 1724.2235354785928
r2 Score: 0.0034893796660306897