<a href="https://colab.research.google.com/github/jacobpad/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/%20LS_DS12_214A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression



---


## Assignment ðŸŒ¯ ***CLASSIFICATION - A OR B - GREAT OR NOT***


---


You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

# This code was given to start with

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

# Start with my imports

In [0]:
# A bunch of imports, yes, it's probably overkill
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import math
import plotly.express as px
import category_encoders as ce
import datetime # import and manipulate datetime
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from IPython.display import display, HTML
from sklearn.feature_selection import SelectKBest, f_regression
%matplotlib inline

# Check some things out

In [8]:
df

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
0    California  1/18/2016   3.5     4.2  ...     NaN   NaN       NaN  False
1    California  1/24/2016   3.5     3.3  ...     NaN   NaN       NaN  False
2      Carnitas  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
3         Asada  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
4    California  1/27/2016   4.0     3.8  ...     NaN   NaN       NaN   True
..          ...        ...   ...     ...  ...     ...   ...       ...    ...
418       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
419       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
420  California  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
421       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
422       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True

[421 rows x 59 columns]

In [9]:
df.describe()

            Yelp     Google        Cost  ...     Synergy        Wrap  Queso
count  87.000000  87.000000  414.000000  ...  419.000000  418.000000    0.0
mean    3.887356   4.167816    7.067343  ...    3.586993    3.979904    NaN
std     0.475396   0.373698    1.506742  ...    0.886807    1.118185    NaN
min     2.500000   2.900000    2.990000  ...    1.000000    0.000000    NaN
25%     3.500000   4.000000    6.250000  ...    3.000000    3.500000    NaN
50%     4.000000   4.200000    6.990000  ...    3.800000    4.000000    NaN
75%     4.000000   4.400000    7.880000  ...    4.000000    5.000000    NaN
max     4.500000   5.000000   25.000000  ...    5.000000    5.000000    NaN

[8 rows x 19 columns]

In [10]:
df.describe().T

                count        mean  ...         75%         max
Yelp             87.0    3.887356  ...    4.000000    4.500000
Google           87.0    4.167816  ...    4.400000    5.000000
Cost            414.0    7.067343  ...    7.880000   25.000000
Hunger          418.0    3.495335  ...    4.000000    5.000000
Mass (g)         22.0  546.181818  ...  595.000000  925.000000
Density (g/mL)   22.0    0.675277  ...    0.721726    0.865672
Length          283.0   20.038233  ...   21.500000   26.000000
Circum          281.0   22.135765  ...   23.000000   29.000000
Volume          281.0    0.786477  ...    0.880000    1.540000
Tortilla        421.0    3.519477  ...    4.000000    5.000000
Temp            401.0    3.783042  ...    4.500000    5.000000
Meat            407.0    3.620393  ...    4.000000    5.000000
Fillings        418.0    3.539833  ...    4.000000    5.000000
Meat:filling    412.0    3.586481  ...    4.000000    5.000000
Uniformity      419.0    3.428998  ...    4.000000    5.000000
Salsa           396.0    3.371970  ...    4.000000    5.000000
Synergy         419.0    3.586993  ...    4.000000    5.000000
Wrap            418.0    3.979904  ...    5.000000    5.000000
Queso             0.0         NaN  ...         NaN         NaN

[19 rows x 8 columns]

In [11]:
df.describe(exclude='number')

           Burrito       Date Chips Unreliable  ... Avocado Corn Zucchini  Great
count          421        421    26         33  ...      13    3        1    421
unique           5        169     4          1  ...       1    2        1      2
top     California  8/30/2016     x          x  ...       x    x        x  False
freq           169         29    21         33  ...      13    2        1    239

[4 rows x 40 columns]

In [12]:
df.describe(exclude='number').T

              count unique         top freq
Burrito         421      5  California  169
Date            421    169   8/30/2016   29
Chips            26      4           x   21
Unreliable       33      1           x   33
NonSD             7      2           x    5
Beef            179      2           x  137
Pico            158      2           x  127
Guac            154      2           x  114
Cheese          159      2           x  128
Fries           127      2           x  102
Sour cream       92      2           x   67
Pork             51      2           x   36
Chicken          21      2           x   20
Shrimp           21      2           x   17
Fish              6      2           x    4
Rice             36      2           x   26
Beans            35      2           x   27
Lettuce          11      2           x    9
Tomato            7      2           x    5
Bell peper        7      2           x    4
Carrots           1      1           x    1
Cabbage           8      2           x    6
Sauce            38      2           x   33
Salsa.1           7      2           x    6
Cilantro         15      2           x    9
Onion            17      2           x    9
Taquito           4      2           x    3
Pineapple         7      2           x    5
Ham               2      1           x    2
Chile relleno     4      1           x    4
Nopales           4      1           x    4
Lobster           1      1           x    1
Egg               5      1           x    5
Mushroom          3      1           x    3
Bacon             3      1           x    3
Sushi             2      1           x    2
Avocado          13      1           x   13
Corn              3      2           x    2
Zucchini          1      1           x    1
Great           421      2       False  239

In [13]:
df.columns

Index(['Burrito', 'Date', 'Yelp', 'Google', 'Chips', 'Cost', 'Hunger',
       'Mass (g)', 'Density (g/mL)', 'Length', 'Circum', 'Volume', 'Tortilla',
       'Temp', 'Meat', 'Fillings', 'Meat:filling', 'Uniformity', 'Salsa',
       'Synergy', 'Wrap', 'Unreliable', 'NonSD', 'Beef', 'Pico', 'Guac',
       'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp', 'Fish',
       'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
       'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
       'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso',
       'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini',
       'Great'],
      dtype='object')

In [14]:
df.isnull().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

# Train/Validate/Test Split

In [0]:
# Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
# Begin with baselines for classification.
# Use scikit-learn for logistic regression.
# Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
# Get your model's test accuracy. (One time, at the end.)
# Commit your notebook to your fork of the GitHub repo.

# Fix the date

In [0]:
# Fix the date thing to the date

In [17]:
# See what it is
print(df['Date'].head(1)) # it's an object

0    1/18/2016
Name: Date, dtype: object

In [18]:
# Now make it something usable
# Change the date datatype
print('Before changing --',df['Date'].dtypes)
df['Date'] = pd.to_datetime(df['Date'])
print('Post   changing --',df['Date'].dtypes)

Before changing -- object
Post   changing -- datetime64[ns]

# Seperate the Train, Validate & Split - Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later

In [19]:
# Set the Train
start_date = '01-01-1900'
end_date = '12-31-2016'
train = df[(df['Date'] > start_date) & (df['Date'] <= end_date)]
print(train['Date'].min())
print(train['Date'].max())

2011-05-16 00:00:00
2016-12-15 00:00:00

In [20]:
# Set the Validate
start_date = '01-01-2017'
end_date = '12-31-2017'
validate = df[(df['Date'] > start_date) & (df['Date'] <= end_date)]
print(validate['Date'].min())
print(validate['Date'].max())

2017-01-04 00:00:00
2017-12-29 00:00:00

In [21]:
# Set the Test
start_date = '01-01-2018'
test = df[(df['Date'] > start_date)]
print(test['Date'].min())
print(test['Date'].max())

2018-01-02 00:00:00
2026-04-25 00:00:00

In [23]:
# Print the shapes
print('Train    -',train.shape)
print('Validate -',validate.shape)
print('Test     -',test.shape)

Train    - (298, 59)
Validate - (85, 59)
Test     - (38, 59)